//blue
$blue: #3190e8;
$bc: #e4e4e4;

//上下居中
@mixin ct {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

//左右居中
@mixin cl {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

//上下左右居中
@mixin center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

//盒子宽度和高度
@mixin wh($width, $height){
    height: $height;
    width: $width;
}

//字体大小和颜色
@mixin sc($size, $color){
    font-size: $size;
    color: $color;
}

//字体大小、行高、字体
@mixin font($size, $line-height, $family: 'Microsoft YaHei') {  
	font: #{$size}/#{$line-height} $family;
}
